---
layout: page
title: Resume
permalink: /
weight: 1
---

<div class="row" style="padding-top: 2em">
    
    <div class="col-md-8">
    <div class="lead">Hey! I'm Gino</div>

    I work as a Testing consultant and SDET. I am also an Improviser. My biggest assets are:<br><br>

    <b>Team player</b>. I thrive in a team. Improvising trained me to carefully listen and understand how can I make the biggest impact. I follow the Essentialism motto; so I really value delegating and sharing responsibilities.<br><br>

    <b>Heavy Lifter</b>. I understand that results take hard work, that is why I train every day. I like to be at the top of my craft and willing to go the extra mile.<br><br>

    <b>Having fun</b>. I know that having fun as important as results, that is why you can't tell I train every day! My personal goal is to empower everyone in the and create the best environment, so we love coming to work!<br><br>

    You can find a  <a a rel="nofollow" target="_blank" href="/resume/resume.pdf">PDF version of my resume</a>, check <a a rel="nofollow" target="_blank" href="https://www.linkedin.com/in/ginogalotti/">my Linkedin profile</a> or check <a href="/resume/projects">any of my projects</a><br><br>

    I am always available for a chat about Testing, Management, Improv or just life. 

    </div>

    <div class="col-md-4">

        <img src="img/avatar.jpg" alt="Gino Galotti's resume" class="circle-image wow  zoomIn animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn; max-width: 15em; display: block; margin-left: auto; margin-right: auto;">
    
        </div>
</div>


<div class="row" style="padding-top: 2em">
{% include skills.html title="Tech Skills" source=site.data.tech-skills %}
{% include skills.html title="People Skills" source=site.data.other-skills %}
</div>

<div class="row">
{% include timeline.html %}
</div>